<mjml>
  <mj-body background-color="#E4E6EB">
    <mj-section background-color="#FFFFFF" padding-bottom="10px" padding-top="0px">
      <mj-column width="100%">
        <mj-image src="image/logo.png" align="center" border="none" width="120px" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="30px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#FF8302" padding-bottom="0px" padding-top="0px" border-bottom="6px #eee">
      <mj-column width="100%">
        <mj-text font-size="30px" align="center" color="#FFFFFF" font-family="roboto" font-weight="bold" padding-left="25px" padding-right="25px" padding-top="15px" padding-bottom="15px">Zakat Sukses</mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#FFFFFF" padding-bottom="0px" padding-top="0px">
      <mj-column width="100%">
        <mj-image width="550px" src="image/bg.jpeg" align="center" border="none" padding-left="0px" padding-right="0px" padding-bottom="0px" padding-top="0px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#FFFFFF" padding-bottom="20px" padding-top="10px">
      <mj-column width="100%" vertical-align="middle" padding-bottom="15px">
        <mj-text font-size="18px" align="left" color="#1a0d00" line-height="28px" font-family="roboto" padding-left="25px" padding-right="25px">Assalamualikum Warahmatulahi Wabarakatuh, <br><b>Muhammad Ardiasnyah</b>
          <br><br>
          Hewan Qur'ban kamu sudah berhasil di beli
          <br>
          Silahkan Transfer ke <b>Rekening Zakat Sukses</b>
        </mj-text>
        <mj-table font-size="18px" color="#1a0d00" font-family="roboto" line-height="28px" padding-left="25px" padding-right="25px">Assalamualikum Warahmatulahi Wabarakatuh, <br><b>Muhammad Ardiasnyah</b>
          <tr>
            <td colspan="3">Pengkurban</td>
          </tr>
          <tr>
            <td><strong>Nama :</strong></td>
            <td style="text-align:right;">Dian bugas</td>
          </tr>
          <tr>
            <td><strong></strong></td>
            <td style="text-align:right;">Dian bugas</td>
          </tr>
          <tr>
            <td><strong></strong></td>
            <td style="text-align:right;">Dian bugas</td>
          </tr>
        </mj-table>
        <mj-table font-size="18px" color="#1a0d00" font-family="roboto" line-height="28px" padding-left="25px" padding-right="25px">Assalamualikum Warahmatulahi Wabarakatuh, <br><b>Muhammad Ardiasnyah</b>
          <tr>
            <td colspan="3">Hewan Kur'ban:</td>
          </tr>
          <tr>
            <td><strong>Tipe :</strong></td>
            <td style="text-align:right;">Sapi QURBAN PELOSOK NUSANTARA</td>
          </tr>
          <tr>
            <td><strong>Tanggal Pembelian :</strong></td>
            <td style="text-align:right;">23-10-2021</td>
          </tr>
          <tr>
            <td><strong>Total :</strong></td>
            <td style="text-align:right;">Rp. 10.000.000</td>
          </tr>
        </mj-table>
        <mj-button align="center" font-size="18px" font-weight="bold" font-family="roboto" color="#fff" background-color="#FF8302" border-radius="10px">
          Check Detail
        </mj-button>
      </mj-column>
    </mj-section>

    <mj-section background-color="#FF8302" padding-bottom="20px" padding-top="10px">
      <mj-column>
        <mj-table>
          <tr>
            <td style="font-size: 20px; font-family:roboto; font-weight:bold; color:#fff; padding-bottom:10px;">
              Zakat Sukses
            </td>
          </tr>
        </mj-table>
        <mj-table line-height="18px">
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              Kantor Pusat
            </td>
          </tr>
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              Jl. KH. M. Yusuf Raya No. 95,
            </td>
          </tr>
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              Kota Depok. Indonesia. 16411
            </td>
          </tr>
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              Contact : (021) 7710964, (Customer Service ) 082211627700,
            </td>
          </tr>
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              (Ambulance and Program Service) 081380499188
            </td>
          </tr>
          <tr>
            <td style="font-size: 15px; font-family:roboto; color:#fff;">
              Email : admin@zakatsukses.org
            </td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
