body {
    background-color: #ffffff;
    font-family: "Assistant", sans-serif;
    color: #ff9933;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ff9933;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ff9933 !important;
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #ff9933;
    color: #fff;
}

.btn-login:hover {
    background-color: #ff9933;
    color: #fff;
}

header h1,
header p {
    color: #fff;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

header p {
    font-size: 22px;
}

header .btn-get-started {
    background-color: #ff9e53;
    color: #fff;
}

header .btn-get-started:hover {
    background-color: #ffaa69;
    color: #fff;
}

.section-stats {
    margin-top: -50px;
}

.section-stats .stats-detail {
    padding-top: 15px;
    background-color: #fff;
    padding-left: 40px;
}

.section-stats h2 {
    font-size: 30px;
    margin-bottom: 0;
}

.section-stats p {
    font-size: 20px;
    font-weight: lighter;
}

.section-popular {
    min-height: 540px;
    background-color:#ff9933;
    margin-top: -50px;
    margin-bottom: -230px;
}

.section-popular .section-popular-heading {
    margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
    color: #fff;
}

.section-popular .section-popular-heading h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-popular .section-popular-heading p {
    font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
    min-height: 380px;
    background-color: #ddd;
    color: #fff;
    padding: 30px;
    background-size: cover;
    margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
    font-size: 18px;
    color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
    font-size: 26px;
    color: #fff;
}

.section-popular-content
    .section-popular-travel
    .travel-button
    .btn-travel-details {
    background-color: #ff9e53;
    color: #fff;
}

.section-popular-content
    .section-popular-travel
    .travel-button
    .btn-travel-details:hover {
    background-color: #ffae6f;
    color: #fff;
}

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
}

.section-networks h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-networks p {
    font-size: 18px;
}

.section-networks img {
    max-width: 100%;
}

.section-testimonial-heading {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#f7f9ff)
    );
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
}

.section-testimonial-heading h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.section-testimonial-heading p {
    font-size: 18px;
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
    min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
    font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
    font-weight: 200;
    font-size: 26px;
    color: #6e6e6e;
    min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
    font-weight: normal;
    font-size: 22px;
    color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
    margin-left: -20px;
    margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
    background-color: #ff9e53;
    color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
    background-color: #ffaa69;
    color: #fff;
}

.section-testimonial-content .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;
}

.section-testimonial-content .btn-need-help:hover {
    background-color: #fafafa;
    color: #c3c3c3;
}

.section-footer a {
    color: #ff9933;
}

.section-details-header {
    min-height: 310px;
    background: #ffffff;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
}

.section-details-content .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
    font-weight: bold;
    color: #ff9933;
}

.section-details-content .card-details {
    padding: 30px;
    border-radius: 11px;
}

.section-details-content .card-details h1 {
    font-size: 26px;
}

.section-details-content .card-details h2 {
    font-size: 20px;
}

.section-details-content .card-details p {
    font-size: 18px;
    color: #ffffff;
}

.section-details-content .card-details h3 {
    font-weight: 300;
    font-size: 14px;
    color: #ff9933;
}

.section-details-content .card-details .trip-informations th {
    font-weight: 300;
    font-size: 18px;
    color: #ff9933;
}

.section-details-content .card-details .trip-informations{
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.section-details-content .card-details .trip-informations .text-blue {
    color: #ff9933;
    font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
    color: #ff9e53;
    font-weight: bold;
}

.section-details-content .card-details .payment-instructions {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
    font-size: 18px;
    color: #ff9933;
    margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
    margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
    font-weight: normal;
    font-size: 16px;
    color: #ff9933;
}

.section-details-content .card-details .bank .bank-image {
    width: 45px;
    height: 45px;
    float: left;
}

.section-details-content .card-details .disclaimer {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
    border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
    padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
    background-color: #ff9e53;
    color: #fff;
    /* font-weight: bold; */
}

.section-details-content .card-details .btn-add-now:hover {
    background-color: #f5a569;
    color: #fff;
    /* font-weight: bold; */
}

.section-details-content .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.section-details-content .features {
    margin-top: 20px;
}

.section-details-content .features h3 {
    font-size: 18px;
    color: #ff9e53;
    margin-bottom: 0;
}

.section-details-content .features p {
    margin-bottom: 0;
}

.section-details-content .features .description {
    margin-left: 10px;
    overflow: hidden;
    float: left;
}

.section-details-content .features .features-image {
    width: 45px;
    height: 45px;
    float: left;
}

.section-details-content .gallery .xzoom-container {
    display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
    border: 4px solid #1abc9c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.section-details-content .member .member-image {
    width: 40px;
    height: 40px;
}

.section-details-content .join-container {
    margin-top: -16px;
}

.section-details-content .btn-join-now {
      background-color: #ff9933;
        border: none;
        color: white;
        padding: 9px 32px;
        text-align: center;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
}

.section-details-content .btn-join-nowww {
    background-color: #ff9e53;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

.section-details-content .btn-join-noww{
    background-color: #ff9e53;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.rata-kiri{
 padding-left: 50px;
}
.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.section-details-content .btn-join-now:hover  {
    background-color: #ffb57c;
    color: #fff;
}

.section-details-content .btn-join-bayar {
      background-color: #219653;
        border: none;
        color: white;
        padding: 9px 32px;
        text-align: center;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
}

.section-details-content .btn-join-bayar:hover  {
    background-color: #136838;
    color: #fff;
}

.section-details-content .button:active,
 button:hover{
    border:none !important;
    outline:none !important;
}

.section-success {
    height: 90vh;
}

.section-success h1 {
    font-weight: 600;
    font-size: 26px;
    color: #ff9e53;
}

.section-success p {
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.section-success .btn-home-page {
    border-radius: 4px;
    background-color: #ff9e53;
    color: #fff;
}

.section-success .btn-home-page:hover {
    background-color: #ffb57c;
    color: #fff;
}

.text-ekor{
    color: #ff9933;
    font-size: 15px;
    padding: 1px;
}
.warna-text{
    color: #FFA825;
    font-size: 20px;
    text-align: left;
    /* padding-top: 10px; */
}

.text-bold{
    font-weight: bold;
    font-size: 20px;
    border-style: none;
}

.warna-th{
    text-align: left;
    color: #000000;
}

.text-gs{
    margin-right: -85px;
}

.agent {
    color: #FFF;
    margin: auto;
    margin-left: 40px;
    padding: 2px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ff9642;
}
/*# sourceMappingURL=main.css.map */
